[Unit]
Description=Nocturne session hardware initialization
After=graphical-session.target
PartOf=nocturne-session.target graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/hardware-control touchpad init
ExecStart=%h/.config/hypr/scripts/power-lab startup
